* {
    margin: 0;
    padding: 0;
}

.banner {

}

.banner a {
    display: block;
    background: url("../Img/head1.jpg") no-repeat center 0;
    height: 120px;

}

ul {
    list-style: none
}

.daohang1 {
    background: #333;
    height: 40px;

}

.daohang2 a:hover {
    color: white;

}

.daohang2 li {

    height: 40px;
    line-height: 40px;
    float: left;
}

.daohang2 {
    width: 1226px;
    margin: 0 auto;
}

.daohang2 li a {
    height: 40px;
    color: #b0b0b0;
    font-size: 12px;

}

.daohang2 li span {
    color: #424242;
    margin: 0 5px;
}

a {
    text-decoration: none;
}

.icon-cart {
    color: #b0b0b0;

}

.daohang4 {
    float: right;
    font-size: 12px;
}

.daohang4 .cart {
    width: 120px;
    background: #424242;
    text-align: center;
    margin-left: 20px;
    position: relative;
}

.daohang4 .cart i {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.daohang4 .cart:hover {
    background: #ffffff;
}

.daohang4 i:hover {
    color: #ff6700;

}

.cart-box {
    width: 300px;
    height: 0px;
    overflow: hidden;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    display: none;
    background: white;

}

.daohang4 .cart:hover .cart-box {
    display: block;
    animation: show 0.5s ease-in forwards;
}

@keyframes show {
    100% {
        height: 100px;
    }
}

.daohang5-1 {
    position: relative;
    z-index: 24;
    height: 88px;
}

.daohang5-2 {
    width: 55px;
    height: 55px;
    background: orangered;
    display: block;
    overflow: hidden;

}

.daohang5-2 {
    background-image: url("../Img/mi-logo.png");
    display: block;
    overflow: hidden;
    margin-top: 25px;
    transform-origin: 55% 55%;
    margin-left: 155px;

}

.daohang5-3 {
    list-style: none;
    width: 1226px;
    height: 88px;
    float: right;
    margin-left: 50px;

}

.daohang5-1-1 {
    float: left;
    padding: 0 10px;
    position: relative;

}

.daohang5-3 a {
    color: #424242;
}

.daohang5-1-1:hover a {

    color: #ff6700;
}

.daohang2-1 {
    width: 1536px;
    height: 185px;
    background: red;
    position: absolute;
    left: -300px;
    top: 54px;

}

.daohang5-4 .daohang2-1 {
    display: none;
}

.daohang5-4 li:hover .daohang2-1 {
    display: block;
}
